In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

# Get the page containing the list of proxies
url = 'https://free-proxy-list.net/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

# Find the table containing the list of proxies
table = soup.find('table')

# Get the rows of the table
rows = table.tbody.find_all('tr')

# Extract the proxy details from each row
proxies = {'ip' : [], 'port' : [], 'type' : [], 'country' : []}
for row in rows:
    columns = row.find_all('td')
    # print(row)
    proxies['ip'].append(columns[0].text)
    proxies['port'].append(columns[1].text)
    proxies['type'].append(columns[4].text)
    proxies['country'].append(columns[3].text)

# Print the list of proxies
# print(proxies)

In [3]:
df = pd.DataFrame.from_dict(proxies)
df.head()

                ip   port         type         country
0   68.178.161.107     80  elite proxy           India
1    150.242.108.6  32650  elite proxy     Timor-Leste
2  178.151.205.154  45099  elite proxy         Ukraine
3    195.110.59.82     80  elite proxy  United Kingdom
4    121.78.138.99     80    anonymous     South Korea

In [5]:
#savepath = "/workspaces/codespaces-jupyter/data/linkedin_job_analysis/part_0_proxies.csv"
savepath = "./tmp/part_0_proxies.csv"
df.to_csv(savepath, sep=";", index=False)